<div class="container">

    {{!-- footer --}}
    <footer id="rodape" class="footer">

        <div class="logo">
            <a href="/"><img src="Imagens/logo-ally.svg" alt="Logo Ally"></a>
            <p>Plataforma que tem o propósito de criar conexão entre empresas e usuários com deficiência visual,
                por
                meio de
                testes de acessibilidade em sites</p>
        </div>

        <nav class="footer-nav">
            <div class="col">
                <p>Páginas</p>
                <ul>
                    <li>Sobre nós</li>
                    <li>Contato</li>
                </ul>
            </div>
            <div class="col">
                <p>Redes Sociais</p>
                <ul>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Linkedin</li>
                </ul>
            </div>
        </nav>

    </footer>
    {{!-- / footer --}}
</div>