<nav class="grey darken-3">
    <div class="nav-wrapper container">

       
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/users/register">Registrar</a></li>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/logout">Logout</a></li>
            <li><a href="/users/deletar">Deletar</a></li>
        </ul>
    </div>
</nav>