<aside class="side-menu">
    <div class="logo">
        <img src="/Imagens/Logo.svg" alt="Logo do Ally">
    </div>
    <nav class="navAside">
        <ul>
            <li class="item">
                <a href="/dashboard"> <img src="/Imagens/IconeTestes.svg" alt="Ícone para ver testes"> Testes</a>
            </li>
            <li class="item">
                <a href="/calendario"> <img src="/Imagens/IconeCalendario.svg"
                        alt="Ícone para ver Calendário">Agenda</a>
            </li>
            <li class="item">
                <a href="/configuracoes"> <img src="/Imagens/IconeConfiguracao.svg" alt="Ícone para ver Configurações">
                    Configurações</a>
            </li>
            <li class="item">
                <a href="/orientacoes"> <img src="/Imagens/IconeOrientacao.svg" alt="Ícone para ver Orientações">
                    Orientações</a>
            </li>
        </ul>
        <form action="testes/add" method="get">
            <button type="submit">+ Novo Teste</button>
        </form>
    </nav>
</aside>