<!-- pagina testes c/ teste -->

{{#if testes}}


<main id="conteudo" class="comTestes">

    <section class="cards-testes">

        {{#each testes}}
        <div class="teste">
           
                <div>
                    <h2>{{nome}}</h2>
                    <p>Teste sobre a página inicial do site Lorem {{{teste.descricao}}}</p>
                    <a href="/testes/{{_id}}" class="btn-outline">Ver mais detalhes do teste</a>
                </div>
            
        </div>
        {{/each}}


    </section>
     <a class="btn-cta" href="/testes/add">Crie um novo teste</a>
</main>

<!-- / pagina testes c/ teste -->


<!-- pagina testes - sem testes -->
{{else}}

<main id="conteudo" class="semTestes">
    <!-- painel principal -->
    <section class="main-panel">
        <div class="panel-info">
            <img src="/Imagens/empty-box.svg" alt="Ícone de caixa vazia" aria-hidden="true">
            <h2>Você não possui nenhum teste</h2>
            <a class="btn-cta" href="/testes/add">Criar novo teste</a>
        </div>
    </section>
    <!-- / painel principal -->

    <!-- cards -->
    <section class="cards">
        <div class="card">
            <div class="card__header">
                <h3 class="card__header-title">Testes em tempo real com os usuários</h3>
            </div>
            <div class="card__body">
                <ul class="bullets">
                    <li class="bullet">
                        <span class="fas fa-circle"></span>
                        <span>Conduza o teste por vídeo, você consegue ver a tela do
                            usuário e fazer anotações;</span></li>
                    <li class="">
                        <span class="fas fa-circle"></span>
                        <span>Crie tarefas para seus participantes.</span></li>
                </ul>
            </div>
        </div>

        <div class="card secundary">
            <div class="card__body">
                <p>Está com problemas em criar seu primeiro teste? Não se preocupe, vamos te ajudar!</p>
                <a class="btn-orientacoes" href="/">Ver orientações</a>
            </div>
        </div>
    </section>
    <!-- / cards -->
</main>


{{/if}}
<!-- / pagina testes - sem testes -->