<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ally - Testes de Acessibilidade e Usabilidade</title>
    <link type="text/css" rel="stylesheet" href="./CSS/Fullcallendar/main.min.css">
    <link rel="stylesheet" href="/CSS/theme.css">
</head>


<body>

    {{{body}}}



    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>


    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget(' https://vlibras.gov.br/app'); </script>
    <script src="/javascript/menu.js"></script>
</body>

</html>