<h1>Calendario</h1>
{{#each testes as |teste|}}
<p>{{teste.nome}}</p>
{{/each}}
<div id='calendar'></div>


<script src='/Javascript/FullCallendar/main.min.js' defer></script>
<script src='/Javascript/FullCallendar/pt-br.js' defer></script>
<script src="/Javascript/calendario.js" defer></script>