<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/theme.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/Imagens/favicon.ico">
    <title>Ally - Testes de Acessibilidade e Usabilidade</title>
</head>


<body>

 {{> _skip_links}}
{{!-- header --}}
<header id="headerHome">
    <div class="container">

         {{!-- navbar --}}
        <nav class="main-nav" aria-label="Navegação principal">
            <div class="logo">
                <a href="/" title="Página inicial"><img src="Imagens/logo-ally.svg" alt="Logo escrito Ally em caixa baixa, com um circulo rosa próximo a letra A e outro círculo azul acima da letra Y"></a>
            </div>

            {{!-- menu --}}
            <div class="menu-section">

                <button class="menu-toggle" aria-expanded="false">Menu</button>

                <ul id="menu">
                    <li><a href="/contato">Contato</a></li>
                    <li><a class="highlight" href="/tester">Seja pago para testar</a></li>
                </ul>

                <div class="account">
                    <a class="btn-login" href="/users/login">Entrar</a>
                    <a class="btn-register" href="/users/register">Criar conta</a>
                </div>

            </div>
            {{!-- / menu --}}

        </nav>
        {{!-- / navbar --}}


        {{!-- banner --}}
        <div id="bannerHome">
            <div class="banner-text">
                <h1>Teste a <span>acessibilidade</span> e usabilidade
                    do seu site com pessoas com deficiência visual</h1>
                <p>Teste remotos com feedbacks em tempo real.</p>
                <a class="btn-cta" href="/users/register">Quero testar meu site</a>
            </div>
            <img src="Imagens/bannerHome.svg"
                alt="Homem de óculos escuros utilizando um notebook. Balão de fala: 'Como faço para concluir este formulário?'">
        </div>
    </div>
    {{!-- / banner --}}

</header>
{{!-- / header --}}


<main id="conteudo" class="home">

    {{!-- video explicativo --}}
    <section id="video">
        <div class="container">
            <h2 data-aos="fade-up" data-aos-duration="1000">Você sabe como as pessoas que usam leitores de tela, navegam no seu site? </h2>
            <img data-aos="fade-up" data-aos-duration="1200" src="Imagens/video.png" alt="Video">
        </div>
    </section>
    {{!-- / video explicativo --}}


    {{!-- como funciona --}}
    <section id="como-funciona">
        <div class="container">
            <h2 data-aos="fade-up" data-aos-duration="1200">Como funcionam os <br>testes de acessibilidade</h2>

            <div class="steps">
                <div class="step"  data-aos="fade-right" data-aos-duration="1300">
                    <img src="Imagens/step1.svg" alt="Ilustração de passo a passo" aria-hidden="true">
                    <h3>Agendamento</h3>
                    <p>Entre em contato com os usuários e agende os testes de acessibilidade.</p>
                </div>

                <div class="step"  data-aos="fade-up" data-aos-duration="1300">
                    <img src="Imagens/step2.svg" alt="Ilustração de passo a passo" aria-hidden="true">
                    <h3>Testes em tempo real, com compartilhamento de tela</h3>
                    <p>Entre em contato com os usuários e agende os testes de acessibilidade.</p>
                </div>
                <div class="step"  data-aos="fade-left" data-aos-duration="1300">
                    <img src="Imagens/step3.svg" alt="Ilustração de passo a passo" aria-hidden="true">
                    <h3>Resultado</h3>
                    <p>Entre em contato com os usuários e agende os testes de acessibilidade.</p>
                </div>
            </div>
        </div>
    </section>
    {{!-- / como funciona --}}


    {{!-- por onde comecar --}}
    <section id="orientacoes" data-aos="fade-up" data-aos-duration="1600">
        <div class="container">
            <h2>Por onde começar a aplicar acessibilidade no meu site?</h2>
            <p>Separamos algumas dicas de como começar a <br>implantar acessibilidade Web</p>
            <a class="btn-orientacoes" href="/">Quero saber por onde começar</a>
        </div>
    </section>
    {{!-- / por onde começar --}}


    {{!-- motivos --}}
    <section id="motivos">
        <div class="container">
            <h2 data-aos="fade-up" data-aos-duration="1200">Motivos para tornar seu site acessível </h2>
            <p data-aos="fade-up" data-aos-duration="1200" class="subtitle">Selecionamos 4 motivos para começar a testar com a gente</p>
            <div class="itens-motivos" data-aos="fade-up" data-aos-duration="1200">
                <div class="item" >
                    <span aria-label="Motivo 1">1</span>
                    <h3>Conformidade com a lei</h3>
                    <p>A acessibilidade nos sites é obrigatória para organizações públicas e privadas, conforme a
                        Lei
                        Brasileira
                        de Inclusão. Mantenha-se protegido de processos judiciais.</p>
                </div>
                <div class="item">
                    <span aria-label="Motivo 2">2</span>
                    <h3>Expansão de público</h3>
                    <p>A acessibilidade nos sites é obrigatória para organizações públicas e privadas, conforme a
                        Lei
                        Brasileira
                        de Inclusão. Mantenha-se protegido de processos judiciais.</p>
                </div>
                <div class="item">
                    <span aria-label="Motivo 3">3</span>
                    <h3>Maior visibilidade</h3>
                    <p>A acessibilidade afeta a visibilidade do seu site em páginas de busca e auxilia na otimização
                        de
                        mecanismos de pesquisa (SEO) </p>
                </div>
                <div class="item">
                    <span aria-label="Motivo 4">4</span>
                    <h3>Responsabilidade Social</h3>
                    <p>Quando você torna seu site acessível, você defende que, de outra forma, aqueles que seriam
                        excluídos
                        dos
                        recursos digitais.</p>
                </div>
            </div>
        </div>
    </section>
    {{!-- / motivos --}}


    {{!-- call to action --}}
    <section id="call-to-action">
        <div class="cta container">

            <div class="cta-text" data-aos="fade-left" data-aos-duration="1200">
                <h2>Pronto para começar <br>a testar seu site?</h2>
                <p>Comece hoje a encontrar pessoas e compreender<br> suas experiências.</p>
                <a class="btn-cta" href="/users/register">Quero testar meu site</a>
            </div>
            <img data-aos="fade-right" data-aos-duration="1200" src="Imagens/callToAction.svg" alt="Mulher está sorrindo ao fazer uma videochamada pelo notebook">

        </div>
    </section>
    {{!-- / call to action --}}

</main>

{{> _footer}}
<script src="/Javascript/menu.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>