<h3> Ally</h3>
<div class="section">
    <p class="lead">Acessibilidade Digital</p>
</div>
<div class="divider"></div>
<div class="section">

    <div class="row">
        <form class="col s12" action="/users/login" method="POST">
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" name='email' class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" name="password">
                    <label for="password">Senha</labe>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit">Enviar

            </button>
        </form>
    </div>
    <a href="/users/login/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In com Google
    </a>
</div>