<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" type="image/x-icon" href="/Imagens/favicon.ico">
    <link rel="stylesheet" href="/CSS/theme.css">
    <title> Orientações - Ally</title>
</head>


<body>

    {{> _skip_links}}
    <div id="dashboard">

        <!-- header -->
        <header class="headerDashboard">
            <button class="menutoggle" aria-expanded="false">Menu</button>
            <h1>Orientações</h1>
            <div class="utilities">
                <span class="user">Olá {{nome}}!</span>
                <a tabindex="0" class="logout" href="/users/logout">Sair</a>
            </div>
        </header>
        <!-- /header -->

        {{> _sidebar}}

        <!-- Orientações -->
        <main id="conteudo" class="orientacoes">
            <div class="introducao">
           <h1>Criar Novos Testes</h1>
                <h2>A criação de testes pode ser feito em poucos passos, aqui está um pequeno guia de como realizar este processo.</h2>
            </div>
            <section>
                <div>
                   <h1>Primeiro passo é clicar no botão de cirar um novo teste</h1>
                </div>
                
                <img src="/Imagens/criarteste.gif" alt="" srcset="">
            </section>
            <section>
                <div>
                    <h1>Preencha o formulário com informações do seu site que você quer seja testado, não esqueça de preencher a área de nome e url!</h1>
                </div>
                <img src="/Imagens/novoteste.gif" alt="" srcset="">
            </section>
            <section>
                <div>
                    <h1>Adicione tarefas ao seu teste! As tarefas aparecerão na hora da video-chamada,  e servirá como um guia para a sessão.</h1>
                </div>
                <img src="/Imagens/addtarefa.gif" alt="" srcset="">
            </section>
            <section>
                <div>
                    <h1>Convide os testers para participar da sus sessão!</h1>
                </div>                <img src="/Imagens/convidarTesters.gif" alt="" srcset="">
            </section>
            <section>
                <div>
                    <h1>Veja detalhes do seu teste</h1>
                </div>
                <img src="/Imagens/verdatealhes.gif" alt="" srcset="">
            </section>
        </main>
        <!-- / Orientações -->

        <!-- footer -->
        <footer id="rodape" class="footerDashboard">
            <p><span class="footer__copyright">&copy;</span> Ally 2020</p>
            <a href="/contato">Entre em contato</a>
        </footer>
        <!-- / footer -->

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js">
    </script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="/Javascript/mobileDashboard.js"></script>