@charset "UTF-8";
@import url("https://use.typekit.net/fck0yop.css");
@import url("https://use.typekit.net/fck0yop.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
}

body {
  font-family: "museo-sans", sans-serif;
  color: var(--color-black);
  font-size: 1.6rem;
}

button {
  font-family: "museo-sans", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h2 {
  margin: 0 30rem 3rem;
  font-size: 3.2rem;
  text-align: center;
}

#logoLogin {
  margin-top: 3.019vh;
  margin-left: 7.5vw;
}

#loginSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . .";
  overflow-x: hidden;
}
#loginSection main {
  overflow-x: hidden;
  width: 51.8rem;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-self: center;
}
#loginSection main h1 {
  text-align: center;
  font-size: 3.2rem;
  margin-bottom: 1rem;
  color: #02011D;
}
#loginSection main form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3.2rem;
}
#loginSection main form div label {
  color: #3B1AE3;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
#loginSection main form div input[type=email],
#loginSection main form div input[type=password],
#loginSection main form div input[type=text] {
  width: 100%;
  font-size: 1.6rem;
  border: 1px solid #3B1AE3;
  border-radius: 6px;
  padding: 1rem 1.6rem;
}
#loginSection main form div input[type=submit] {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 28rem;
  height: 5rem;
  font-size: 2rem;
  color: white;
  background-color: #3B1AE3;
  font-weight: 700;
  border-radius: 5.1rem;
  border: 0px;
}
#loginSection main div.ou {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  position: relative;
  font-weight: 700;
}
#loginSection main div.ou::after {
  content: "";
  width: 40%;
  border-bottom: solid 1px #3B1AE3;
  position: absolute;
  left: 5%;
  top: 50%;
  z-index: -1;
}
#loginSection main div.ou::before {
  content: "";
  width: 40%;
  border-bottom: solid 1px #3B1AE3;
  position: absolute;
  left: 55%;
  top: 50%;
  z-index: -1;
}
#loginSection main .google-btn {
  align-self: center;
  width: 34.6rem;
  height: 5.1rem;
  border-radius: 51px;
  box-shadow: 0px 3px 4px 2px rgba(125, 124, 124, 0.16);
  margin-bottom: 3.5rem;
}
#loginSection main .google-btn a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #02011D;
  text-decoration: none;
}
#loginSection main .google-btn .google-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 5rem;
  border-radius: 2px;
}
#loginSection main .google-btn .google-icon {
  margin-top: 2px;
  margin-left: 11px;
  width: 1.7rem;
  height: 1.7rem;
}
#loginSection main .google-btn .btn-text {
  display: flex;
  align-self: center;
  text-align: center;
  font-size: 1.6rem;
  letter-spacing: 0.2px;
}
#loginSection main div.npossui {
  text-align: center;
  font-size: 1.8rem;
}
#loginSection main div.npossui a {
  color: #3B1AE3;
}

:root {
  --color-blue: #3B1AE3;
  --color-pink: #F25270;
  --color-yellow: #FFEE56;
  --color-black: #02011D;
  --color-white: #FFF;
}

.btn-login {
  border: 3px solid var(--color-blue);
  border-radius: 20px;
  padding: 6px 15px;
}

.btn-cta {
  display: inline-block;
  margin-top: 3rem;
  color: var(--color-white);
  background: var(--color-blue);
  font-size: 1.8rem;
  /* letter-spacing: 0.1rem; */
  padding: 1.6rem 1.8rem;
  font-weight: 700;
  border-radius: 2.5rem;
  cursor: pointer;
  transition-duration: 0.5s;
  transition-property: background-color;
  transition-timing-function: ease;
}
.btn-cta:hover {
  background-color: #2d13b2;
}

.btn-orientacoes {
  display: inline-block;
  margin-top: 3rem;
  color: var(--color-blue);
  border: 3px solid var(--color-blue);
  font-size: 1.8rem;
  padding: 1rem 2rem;
  font-weight: 700;
  border-radius: 3em;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1400px;
}

#banner {
  display: flex;
  margin-top: 4rem;
}
#banner .banner-text {
  margin-top: 5rem;
  margin-left: 1.2rem;
}
#banner h1 {
  padding-right: 1.2rem;
  font-size: 4rem;
  line-height: 1.3;
}
#banner p {
  margin-top: 1.5rem;
  color: #1e266d;
  font-size: 2.5rem;
}
#banner img {
  max-width: 550px;
}

.skip-links a {
  position: absolute;
  top: -3rem;
  background: var(--color-white);
  padding: 0.5rem;
  color: #000;
}
.skip-links a:focus {
  top: 1.2rem;
  left: 5rem;
  position: relative;
  margin: 12rem 0;
}

.logo img {
  max-width: 90px;
}

nav.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}
nav.main-nav ul#menu {
  display: flex;
  margin-left: auto;
}
nav.main-nav ul#menu li a {
  margin-left: 3rem;
  color: var(--color-black);
  font-weight: 700;
}
nav.main-nav ul#menu li:nth-child(4) {
  margin-left: 3rem;
}
nav.main-nav ul#menu .highlight {
  padding-bottom: 0.2rem;
  border-bottom: 4px solid var(--color-blue);
}

#video {
  margin-top: 8rem;
  padding-bottom: 4rem;
  text-align: center;
  background: linear-gradient(3deg, rgba(249, 252, 255, 0.9) 0%, #fbfdff 50%, white 100%);
}

#como-funciona {
  margin: 10rem 0;
}
#como-funciona .steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin: 5rem auto;
}
#como-funciona .steps .step {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#como-funciona img {
  max-width: 320px;
  margin: 10px auto;
}
#como-funciona h3 {
  font-size: 2.5rem;
  font-weight: 900;
}
#como-funciona p {
  padding: 10px 50px;
  line-height: 1.5;
}

#orientacoes {
  padding: 7rem 0;
  text-align: center;
  background: linear-gradient(3deg, rgba(255, 254, 246, 0.8) 0%, rgba(255, 255, 251, 0.8) 60%, white 100%);
}
#orientacoes p {
  font-size: 2rem;
  line-height: 1.5;
}

#motivos {
  margin: 10rem 0;
  text-align: center;
}
#motivos .subtitle {
  font-size: 2.4rem;
}
#motivos .itens-motivos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 30px 10px;
  margin: 5rem auto;
  padding: 0 6rem 0 12rem;
}
#motivos .item {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-right: 10rem;
}
#motivos .item p {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.8rem;
}
#motivos .item h3 {
  font-size: 2rem;
}

.item span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem;
  background: var(--color-blue);
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 2.2rem;
  color: var(--color-white);
}

#call-to-action {
  background: linear-gradient(3deg, rgba(249, 252, 255, 0.9) 0%, #fbfdff 50%, white 100%);
}
#call-to-action .cta {
  display: flex;
}
#call-to-action .cta-text {
  text-align: right;
  order: 1;
  margin-top: 10rem;
  margin-left: 23rem;
}
#call-to-action .cta-text h2 {
  text-align: right;
  margin: 0;
  line-height: 1.3;
  margin-bottom: 2rem;
}
#call-to-action p {
  font-size: 1.8rem;
}
#call-to-action img {
  max-width: 50rem;
  margin-left: 3rem;
}

#footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 30px 10px;
  margin: 4rem 3rem;
}
#footer .footer-nav {
  display: flex;
}
#footer .logo {
  padding-right: 20rem;
}
#footer .col {
  margin: 0 3.5rem;
}
#footer .col p {
  font-weight: 900;
  margin-bottom: 10px;
}
#footer .col ul li {
  margin-bottom: 10px;
}

.cotainerDashboard {
  display: grid;
  grid-template-columns: 1fr 6fr;
}

aside.side-menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FBFBFD;
}
aside.side-menu .logo {
  margin-bottom: 8rem;
  margin-top: 3rem;
  width: 75%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
aside.side-menu .logo img {
  width: 10rem;
  height: 6.3rem;
}
aside.side-menu nav.navAside {
  display: flex;
  width: 100%;
  height: 60%;
  flex-direction: column;
  justify-content: space-between;
}
aside.side-menu nav.navAside ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
aside.side-menu nav.navAside ul li {
  display: flex;
  width: 75%;
  align-items: center;
  margin-bottom: 2.2rem;
  justify-content: space-around;
  align-items: flex-end;
}
aside.side-menu nav.navAside ul li a {
  font-size: 1.6rem;
  font-weight: 700;
  color: #02011D;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 4fr;
}
aside.side-menu nav.navAside ul li a img {
  width: 1.8rem;
  height: 1.8rem;
}
aside.side-menu nav.navAside form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
aside.side-menu nav.navAside form button {
  cursor: pointer;
  width: 75%;
  font-weight: 700;
  font-size: 1.4rem;
  height: 3.5rem;
  border-radius: 51px;
  color: #fff;
  background-color: #3B1AE3;
  border: 0px;
  box-shadow: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
}

body {
  font-family: "museo-sans", sans-serif;
  color: var(--color-black);
  font-size: 1.6rem;
}

button {
  font-family: "museo-sans", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h2 {
  margin: 0 30rem 3rem;
  font-size: 3.2rem;
  text-align: center;
}

div.contentDashboard div.grid {
  display: flex;
  height: 80%;
  width: 90%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}
div.contentDashboard div.grid h1 {
  margin-bottom: 5rem;
  display: inline-block;
}
div.contentDashboard div.grid div#calendar {
  font-family: "museo-sans", sans-serif !important;
  width: 100%;
  height: 35rem;
}
div.contentDashboard div.grid div#calendar button {
  background-color: #3B1AE3 !important;
  border: 0.2px #7780ff solid !important;
  font-family: "museo-sans", sans-serif !important;
}

#addTeste {
  display: flex;
  height: 80%;
  width: 90%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}
#addTeste h1 {
  font-size: 4.5rem;
  margin-bottom: 5.2rem;
}
#addTeste form {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
#addTeste form .sec2addTeste {
  margin-left: 6rem;
}
#addTeste form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 3.2rem;
}
#addTeste form div label {
  color: #3B1AE3;
  font-weight: 700;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}
#addTeste form div input[type=text],
#addTeste form div input[type=url] {
  width: 100%;
  font-family: "museo-sans", sans-serif;
  height: 2.8rem;
  padding: 0.5rem;
  font-size: 1.6rem;
  border: 1px solid #8692A6;
  border-radius: 6px;
}
#addTeste form div input[type=time] {
  border: 1px solid #8692A6;
  font-family: "museo-sans", sans-serif;
  border-radius: 6px;
  padding: 0.5rem;
}
#addTeste form div input[type=date] {
  padding: 0.5rem;
  border: 1px solid #8692A6;
  font-family: "museo-sans", sans-serif;
  border-radius: 6px;
}
#addTeste form div textarea {
  font-family: "museo-sans", sans-serif;
  width: 100%;
  padding: 1rem;
  border: 1px solid #8692A6;
  border-radius: 6px;
  height: 10rem;
}
#addTeste form div input[type=submit] {
  font-family: "museo-sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17.5rem;
  height: 3.5rem;
  font-size: 1.6rem;
  color: white;
  background-color: #3B1AE3;
  font-weight: 700;
  border-radius: 5.1rem;
  border: 0px;
}
#addTeste form #addTarefaBtn {
  cursor: pointer;
  border-radius: 5.1rem;
  color: #3B1AE3;
  font-weight: 700;
  border: 4px #3B1AE3 solid;
  font-size: 1.6rem;
  background-color: #fff;
  width: 17.5rem;
  height: 4rem;
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  p {
    font-size: 2rem !important;
  }

  h2 {
    margin: 0 1rem 0;
  }
}
@media (max-width: 540px) {
  #menu {
    display: none !important;
  }

  .one,
.two,
.three {
    background-color: #000;
    height: 5px;
    width: 100%;
    margin: 6px auto;
    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
    margin-top: 8px;
  }

  /* fullscreen */
  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-blue);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-section.on nav {
    display: block;
  }
  .menu-section.on .menu-toggle {
    position: absolute;
    right: 25px;
    top: 15px;
  }
  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
    background-color: white;
  }
  .menu-section.on .menu-toggle .two {
    opacity: 0;
    background-color: white;
  }
  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
    background-color: white;
  }
  .menu-section.on #menu {
    text-align: center;
    display: block !important;
    margin-left: 0;
  }
  .menu-section.on #menu li a {
    transition-duration: 0.5s;
    font-size: 3rem;
    line-height: 1.8;
    display: block;
    color: white;
    margin-bottom: 2rem;
  }

  #banner img {
    max-width: 410px;
    margin: auto;
  }
  #banner .banner-text {
    margin-top: 1rem;
  }
  #banner h1 {
    font-size: 3.5rem;
  }

  #call-to-action img {
    display: none;
  }
  #call-to-action .cta-text h2 {
    text-align: center;
  }
  #call-to-action .cta-text {
    text-align: center;
    margin-left: 0;
    margin-bottom: 5rem;
  }

  #banner,
.cta {
    flex-direction: column-reverse;
  }
}