<div class="cotainerDashboard">
    {{> _sidebar}}
    <div class="contentDashboard">
        <div id="addTeste">
            <h1>Novo Teste</h1>
            <form action="/testes" method="POST">
                <div class="sec1addTeste">
                    <div class="input-field">
                        <label for="title">Nome do Teste</label>
                        <input placeholder="Qual o nome do Teste" type="text" id="title" name="nome">
                    </div>
                    <div class="input-field">
                        <label for="mensgaemdeboasvindas">Mensagem de Boas Vindas (opcional)</label>
                        <textarea
                            placeholder="Esta é a primeira coisa que os participantes vão ver antes do ínicio da sessão"
                            id="body" name="mensgaemdeboasvindas"></textarea>
                    </div>
                    <div class="input-field">
                        <label for="cenario">Cenário (opcional)</label>
                        <textarea id="body" name="cenario"></textarea>
                    </div>
                    <div class="tarefas">
                    </div>
                    <button id="addTarefaBtn" type="button">+ Adicionar Tarefa</button>
                </div>
                <div class="sec2addTeste">
                    <div class="input-field">
                        <label for="title">Site URL</label>
                        <input placeholder="Site URL" type="url" id="url" name="url">
                    </div>
                    <div class="input-field">
                        <label for="diaMarcado">Dia</label>
                        <input type="date" id="diaMarcado" name="diaMarcado">
                    </div>
                    <div class="input-field">
                        <label for="horarioMarcado">Horario</label>
                        <input type="time" id="horarioMarcado" name="horarioMarcado">
                    </div>
                    <input type="submit" value="Próximo">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/Javascript/script.js"></script>