<div class="cotainerDashboard">
    {{> _sidebar}}
    <div class="contentDashboard">
        <div id="addTesteFinalizadoContainer">
            <div id="addTesteFinalizado">
                <h1>Pronto, agora é só esperar...</h1>
                <p>
                    Quando seus convidados aceitarem seu convite você receberá uma notificação no seu e-mail e por aqui.
                </p>
                <div role="button">
                    <a href="/">Voltar para os testes</a>
                </div>
            </div>
        </div>
    </div>
</div>