<h1>Sala</h1>
<div id="video-grid">

</div>
<button id="compartilharTela" class=' btn blue'>Compartilhar tela</button>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="/socket.io/socket.io.js" defer></script>
<script src="/Javascript/chamadas.js" defer></script>