.account {
  display: flex;
  align-items: center;

  .btn-login {
    margin-right: 20px;
    color: var(--color-blue);
    font-weight: 700;
   
    &:after {
      border-bottom: 3px solid var(--color-blue);
      content: "";
      display: block;
      transition: width 200ms ease-in-out 0s;
      width: 0;
    }

    &:hover:after {
      transition: width 100ms ease-in-out 0s;
      width: 90%;
    }
  }

  .btn-register {
    background: var(--color-blue);
    color: var(--color-white);

    padding: 1rem 1.55rem;
    border-radius: 50px;
    font-size: 15px;
    cursor: pointer;

    transition-duration: 0.5s;
    transition-property: background-color;
    transition-timing-function: ease;

    &:hover {
      background-color: var(--color-hover);
    }
  }
}

.btn-cta {
  display: inline-block;
  margin-top: 3rem;
  color: var(--color-white);
  padding: 1em 2em;
  border-radius: 1.6em;
  font-size: 16px;
  font-size: 1.8rem;

  background-color: var(--color-blue);
  box-shadow: 0 5px 8px rgba(109, 121, 156, 0.2);
  cursor: pointer;

  transition-duration: 0.5s;
  transition-property: background-color;
  transition-timing-function: ease;

  &:hover {
    background-color: var(--color-hover);
  }
}

.btn-orientacoes {
  display: inline-block;
  margin-top: 3rem;
  color: var(--color-blue);
  border: 3px solid var(--color-blue);
  font-size: 1.8rem;

  padding: 1rem 2rem;
  font-weight: 700;
  border-radius: 3em;
}
