:root {
    --color-blue: #3B1AE3;
    --color-pink: #FF5F7D;
    --color-yellow: #FFF67A;
    --color-black: #0A0016;
    --color-white: #FFF;
    --color-hover: #2D13B2;

    // --color-pink: #ff578a;
}