@import 'cores';
@import url("https://use.typekit.net/fck0yop.css");
main.contato{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin-left:  auto;
    margin-right: auto;
    section{
       
            margin-top: 4.2rem;
            width: 100%;
            padding-right: 5%;
            margin-bottom: 5.2rem;
        
        h1{
            color: $roxo;
            font-size: 4.8rem;
            font-weight: 700;
            margin-bottom: 4.2rem;
        }
        form {
            width: 100%;
			div {
				display: flex;
				flex-direction: column;
				justify-content: center;
				label {
					color: $azul;
					margin-bottom: 1rem;
                    font-size: 1.8rem;
                    font-weight: 700;
				}

				input[type='email'],
				input[type='text']  {
					width: 100%;
					font-size: 1.6rem;
					border: 1px solid $azul;
					border-radius: 6px;
					padding: 1rem 1.6rem;
                }
                
                textarea{
                    width: 100%;
                    font-size: 1.6rem;
                    font-family: "museo-sans", sans-serif;
					border: 1px solid $azul;
					border-radius: 6px;
					padding: 1rem 1.6rem;
                }

                margin-bottom: 3.2rem;
            }
            input[type='submit'] {
                display: flex;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                align-self: center;
                width: 28rem;
                height: 5rem;
                font-size: 2rem;
                color: white;
                background-color: $azul;
                font-weight: 700;
                border-radius: 5.1rem;
                border: 0px;
            }
        }
    }
    figure{
        width: 100%;
        margin-top: 3.2rem;
        margin-bottom: 5.2rem;

        img{
            width: 100%;
            height: auto;
        }
    }

}

@media (max-width: 540px){
        main.contato{
            flex-direction: column;
            width: 90%;
            section{
                padding: 0;
                h1{
                    font-size: 4.3rem;
                }
            }

        }
        
}

