.semConvites {
  .dashboardTester {
    padding: 4rem 7rem;
    line-height: 1.6;
    display: flex;
    grid-gap: 20px;

    .info {
      background: #fffef7;
      color: var(--color-black);
      padding: 3rem 4rem 4rem 5rem;
      width: 50%;

      h2 {
        font-weight: 700;
        font-size: 27px;
      }

      p {
        margin-top: 10px;
        font-size: 20px;
      }
    }

    .convites {
      h3 {
        font-size: 26px;
      }

      p {
        font-size: 18px;
      }
      background: #fbfbfd;
      padding: 5rem 2rem 6rem;
      text-align: center;
      width: 50%;

      table {
        width: 100%;

        thead {
          th {
            color: var(--color-blue);
            text-align: initial;
            font-size: 18px;
          }
        }

        tbody {
          tr {
            background: var(--color-white);
            box-shadow: 0px 4px 9px rgba(163, 163, 163, 0.1);
          }

          td {
            padding: 16px 5px;
          }

          .btn-action {
            display: flex;
            justify-content: flex-end;

            button,
            a {
              background: none;
              color: var(--color-black);
              padding: 8px 15px;
              border-radius: 50px;
              margin-right: 10px;
              font-size: 15px;
              cursor: pointer;
            }
          }
        }
      }

      .red {
        border: 3px solid var(--color-red);
        transition: 0.2s;

        &:hover {
          background: var(--color-red);
          color: var(--color-white);
          transition: 0.2s;
        }
      }

      .blue {
        border: 3px solid var(--color-blue);
        transition: 0.2s;
        &:hover {
          background: var(--color-blue);
          color: var(--color-white);
          transition: 0.2s;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .semConvites {
    .dashboardTester {
      flex-direction: column;
      padding: 4rem;
      .info,
      .convites {
        padding: 4rem 2rem;
        width: 100%;
      }
    }
  }
}

.comConvites {
  .dashboardTester {
    padding: 4rem 7rem;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    grid-gap: 15px;

    .info {
      background: #fffef7;
      color: var(--color-black);
      padding: 3rem 4rem 4rem 5rem;
      width: 100%;

      h2 {
        font-weight: 700;
        font-size: 27px;
      }

      p {
        margin-top: 10px;
        font-size: 20px;
      }
    }

    .convites {
      h3 {
        font-size: 26px;
        text-align: initial;
        padding-left: 3rem;
      }

      p {
        font-size: 18px;
      }
      background: #fbfbfd;
      padding: 5rem 2rem 6rem;
      text-align: center;
      width: 100%;

      table {
     
        width: 100%;
        margin-top: 30px;
        padding: 0 25px;

        thead {
          th {
            color: var(--color-blue);
            text-align: initial;
            font-size: 18px;
          }
        }

        tbody {
          tr {
            background: var(--color-white);
            box-shadow: 0px 4px 9px rgba(163, 163, 163, 0.1);
          }

          td {
            padding: 16px 5px;
          }

          .btn-action {
            display: flex;
            justify-content: flex-end;

            button,
            a {
              background: none;
              color: var(--color-black);
              padding: 8px 15px;
              border-radius: 50px;
              margin-right: 10px;
              font-size: 15px;
              cursor: pointer;
            }
          }
        }
      }

      .red {
        border: 3px solid var(--color-red);
        transition: 0.2s;

        &:hover {
          background: var(--color-red);
          color: var(--color-white);
          transition: 0.2s;
        }
      }

      .blue {
        border: 3px solid var(--color-blue);
        transition: 0.2s;
        &:hover {
          background: var(--color-blue);
          color: var(--color-white);
          transition: 0.2s;
        }
      }
    }
  }
}

.informacoesTeste {
    padding: 3rem 4rem;
   

    .info {
        display: table;
        margin: 0 auto;
        text-align: center;
        box-shadow: 0px 4px 10px rgba(58, 58, 58, 0.1);
        padding: 40px 30px;
        max-width: 680px;   

        a.url {
            display:block;
            color: var(--color-blue);
        }

        h2 {
           
            font-size: 3.0rem;
            margin-bottom: 15px;
        }

        h3 {
            margin: 15px 0;
        }
        p {
            font-size: 18px;
            padding: 0 40px;
        }

        .btn-cta {
            display: table;
            margin: 4rem auto 2rem auto!important;
          
            font-size: 16px !important;
        }

        ul {

            padding-left: 8rem;
            li {
                list-style-type: disc;
                text-align: left;
                font-size: 1.8rem;
    line-height: 1.6;
            }
        }
    }
}
