.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 30px 10px;
  margin: 4rem 3rem;
  .footer-nav {
    display: flex;
    margin-top: 30px;
  }

  .logo {
    padding-right: 20rem;
  }

  .col {
    margin: 0 3.5rem;
    .title {
      font-weight: 900;
      margin-bottom: 20px;
      color: var(--color-black);
      font-size: 16px !important;
    }

    ul li {
      margin-top: 5px;
      transition: 1s;
      a {
        color: var(--color-black);
        font-size: 16px !important;
        
      }

    

     
    }

    a:after {
      border-bottom: 3px solid var(--color-blue);
      content: "";
      display: block;
      margin: 0.25em  0;
      transition: width 150ms ease-in-out 0s;
      width: 0;
    }
    a:hover:after {
      transition: width 50ms ease-in-out 0s;
      width: 90%;
    }
  }
}
