@import url("https://use.typekit.net/fck0yop.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
}

body {
  font-family: "museo-sans", sans-serif;
  color: var(--color-black);
  font-size: 1.6rem;
  overflow-x: hidden;
}

button {
  font-family: "museo-sans", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}


button {
  cursor: pointer;
}

.home, .tester {
h2 {
  margin: 0 30rem 3rem;
  font-size: 3.2rem;
  text-align: center;
}

}

.container {
  margin: auto;
  width: 90%;
  max-width: 1200px;
}

.container-fluid {
  margin: auto;
  padding: 0 6rem; 
  max-width: 1400px;
}

.item span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem;
  background: var(--color-blue);
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 2.2rem;
  color: var(--color-white);
}

.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin: 5rem auto;
}

.subtitle {
  font-size: 2.4rem;
}

.itens-motivos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 30px 10px;
  margin: 5rem auto;
  padding: 0 6rem 0 12rem;
}


.skip-links a, .skip-links button {
  position: absolute;
  top: -3rem;
  background: var(--color-white);
  padding: 0.5rem;
  
  color: #000;

  &:focus {
    display: block;
    top: 0.2rem;
    z-index: 999;
    padding: 1.3rem 0;
    text-align: center;
    background: var(--color-blue);
    color: white;
    width: 100%;
    font-size: 16px;
    border: 0;
    // left: 5rem;
    position: relative;
    // margin: 12rem 0;
  }
}
