@import 'cores';
#logoLogin {
	margin-top: 3.019vh;
	margin-left: 7.5vw;
}

#loginSection {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas: '. . .';
	overflow-x: hidden;

	main {
		overflow-x: hidden;
		width: 51.8rem;
		grid-column: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		justify-self: center;
		h1 {
			text-align: center;
			font-size: 3.2rem;
			margin-bottom: 1rem;
			color: $roxo;
		}
		form {
			div {
				display: flex;
				flex-direction: column;
				justify-content: center;
				label {
					color: $azul;
					margin-bottom: 1rem;
					font-size: 1.8rem;
				}

				input[type='email'],
				input[type='number'],
				input[type='password'],
				input[type='text'] {
					width: 100%;
					font-size: 1.6rem;
					border: 1px solid $azul;
					border-radius: 6px;
					padding: 1rem 1.6rem;
				}
				input[type='submit'] {
					display: flex;
					align-items: center;
					justify-content: center;
					align-self: center;
					width: 28rem;
					height: 5rem;
					font-size: 2rem;
					color: white;
					background-color: $azul;
					font-weight: 700;
					border-radius: 5.1rem;
					border: 0px;
				}

				margin-bottom: 3.2rem;
			}
		}
		div.ou {
			text-align: center;
			font-size: 1.6rem;
			margin-bottom: 2rem;
			position: relative;
			font-weight: 700;
			&::after {
				content: '';
				width: 40%;
				border-bottom: solid 1px $azul;
				position: absolute;
				left: 5%;
				top: 50%;
				z-index: -1;
			}
			&::before {
				content: '';
				width: 40%;
				border-bottom: solid 1px $azul;
				position: absolute;
				left: 55%;
				top: 50%;
				z-index: -1;
			}
		}
		.google-btn {
			align-self: center;
			width: 34.6rem;
			height: 5.1rem;
			border-radius: 51px;
			box-shadow: 0px 3px 4px 2px rgba(125, 124, 124, 0.16);
			a {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				color: $roxo;
				text-decoration: none;
			}
			.google-icon-wrapper {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 4rem;
				height: 5rem;
				border-radius: 2px;
			}
			.google-icon {
				margin-top: 2px;
				margin-left: 11px;
				width: 1.7rem;
				height: 1.7rem;
			}
			.btn-text {
				display: flex;
				align-self: center;
				text-align: center;
				font-size: 1.6rem;
				letter-spacing: 0.2px;
			}
			margin-bottom: 3.5rem;
		}
		div.npossui {
			text-align: center;
			font-size: 1.8rem;

			a {
				color: $azul;
			}
		}
	}
}
