@media (max-width: 980px) {
  // h2 {
  //   margin: 0 2rem 3rem !important;
  // }

  #bannerHome,
  .cta {
    flex-direction: column-reverse;

    img {
      margin: 20px auto;
    }
  }

  #bannerTester {
    img {
      display: none;
    }
  }
  .tester,
  .home {
    .itens-motivos {
      padding: 0 6rem;
      text-align: center;
    }
  }

  .footer .col {
    margin: 0 3.5rem;
    margin-left: 0;
  }

  .home #call-to-action {
    .cta-text {
      margin-left: 0;
      text-align: center;

      h2 {
        text-align: center;
      }
    }
  }

  // dashboard

  main.comTestes {
    .cards-testes {
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
  }

  // dashboard tester

  .semConvites {
    .dashboardTester {
      .info {
        padding: 3rem 2rem 3rem 3rem;
      }

      .testes {
        flex-direction: column;

        .convites,
        .testes-realizados {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  p {
    font-size: 2rem !important;
  }

  .home,
  .tester {
    h2 {
      margin: 0 1rem 0;
    }
  }

  .headerHome,
  .headerTester {
    #menu,
    .account {
      display: none !important;
    }
  }

  .menu-section {
    display: block !important;
  }

  .menu-toggle {
    display: block !important;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 8px 20px;
    background: var(--color-white);
    font-size: 2.5rem;
    font-weight: 900;
    border: 0;
    border-radius: 2px;

    cursor: pointer;
  }

  /* fullscreen */
  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: var(--color-blue);

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    nav {
      display: block;
    }

    #menu,
    .account {
      text-align: center;
      display: block !important;
      margin-left: 0;

      .btn-login {
        margin-right: 0;
      }
    }

    #menu {
      padding-top: 10rem;
    }

    #menu li a,
    .account a {
      transition-duration: 0.5s;
      font-size: 3rem;
      line-height: 1.8;
      display: block;
      color: var(--color-white);
      padding: 2rem 0;
      margin-left: 0;
      border-radius: 0 !important;

      &:hover {
        background: var(--color-white) !important;
        color: var(--cor-principal) !important;
        border-bottom: none !important;
      }

      &:after {
        border-bottom: 0;
      }
    }
  }

  .highlight {
    background: none !important;
  }
}

@media (max-width: 540px) {
  #bannerHome {
    img {
      max-width: 410px;
      margin: auto;
    }

    .banner-text {
      margin-top: 3rem;
    }

    h1 {
      font-size: 3.5rem;
    }
  }

  #call-to-action {
    img {
      display: none;
    }
    .cta-text h2 {
      text-align: center;
    }

    .cta-text {
      text-align: center;
      margin-left: 0;
      margin-bottom: 5rem;
    }
  }
}
