.skip-links a {
  position: absolute;
  top: -3rem;
  background: var(--color-white);
  padding: 0.5rem;
  color: #000;

  &:focus {
    top: 1.2rem;
    left: 5rem;
    position: relative;
    margin: 12rem 0;
  }
}

.logo img {
  max-width: 90px;
}


nav.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;

  ul#menu {
    display: flex;
    margin-left: auto;

    li a {
      margin-left: 3rem;
      color: var(--color-black);
      font-weight: 700;
    }

    li:nth-child(4) {
      margin-left: 3rem;
    }

    .highlight {
      padding-bottom: 0.2rem;
      border-bottom: 4px solid var(--color-blue);
    }
  }
}
