#headerHome {
  background: url(../../../Imagens/bg-home.svg);
  padding-bottom: 4rem;
}

#bannerHome {
  display: flex;
  margin-top: 4rem;

  .banner-text {
    margin-top: 5rem;
    margin-left: 1.2rem;
  }

  span {
    color: black;
    box-shadow: inset 0 -10px 0 var(--color-pink);

    transition: 0.1s;
  }
  span:hover {
    box-shadow: inset 0 -20px 0 #ffbac7;
    transition: 0.5s;
  }

  h1 {
    padding-right: 1.2rem;
    font-size: 4rem;
    line-height: 1.4;
  }
  p {
    margin-top: 1.5rem;
    color: #1e266d;
    font-size: 2.5rem;
  }

  img {
    max-width: 550px;
  }
}
.home {
  #video {
    margin-top: 8rem;
    padding-bottom: 4rem;
    text-align: center;

    background: url(../../../Imagens/bg-colors.png);
  }

  #como-funciona {
    padding: 8rem 0 2rem;
    background: linear-gradient(
      3deg,
      rgba(249, 252, 255, 0.9) 0%,
      rgba(251, 253, 255, 1) 50%,
      rgba(255, 255, 255, 1) 100%
    );
    text-align: center;

   

    img {
      max-width: 320px;
      margin: 10px auto;
    }

    h3 {
      font-size: 2.5rem;
      font-weight: 900;
    }

    p {
      padding: 10px 50px;
      line-height: 1.5;
    }
  }

  #orientacoes {
    padding: 7rem 0;
    text-align: center;
    background: linear-gradient(
      3deg,
      rgba(255, 254, 246, 0.8) 0%,
      rgba(255, 255, 251, 0.8) 60%,
      rgba(255, 255, 255, 1) 100%
    );
    // background: var(--color-yellow);
    p {
      font-size: 2rem;
      line-height: 1.5;
    }
  }

  #motivos {
    margin: 10rem 0;
    text-align: center;
   

    h3 {
      font-size: 2.5rem;
    }
    .item {
      padding-right: 4rem;
      text-align: left;
      line-height: 1.6;
    }

    p {
      font-size: 1.8rem;
    }

    .subtitle {
      font-size: 2.2rem;
    }
 
  }

  #call-to-action {
    padding: 50px 0;
    background: linear-gradient(
      3deg,
      rgba(249, 252, 255, 0.9) 0%,
      rgba(251, 253, 255, 1) 50%,
      rgba(255, 255, 255, 1) 100%
    );

    .cta {
      display: flex;
    }

    .cta-text {
      text-align: right;
      order: 1;
      margin-top: 10rem;
      margin-left: 23rem;

      h2 {
        text-align: right;
        margin: 0;
        line-height: 1.3;
        margin-bottom: 2rem;
      }
    }

    p {
      font-size: 1.8rem;
    }

    img {
      max-width: 50rem;
      margin-left: 3rem;
    }
  }
}
