@import url("https://fonts.googleapis.com/css?family=Fira+Sans:600|Heebo:400,500,700&display=swap");
@import 'cores';
#sala {
	display: flex;
	width: 95%;
	height: 100vh;
	align-items: flex-start;
	justify-content: center;
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;

	.videoContainer {
		background: #fdfeff;
		height: 85%;
		width: 95%;
		display: grid;
		grid-template-columns: 0fr 0.6fr 3fr 0.1fr;
		grid-template-rows: 0.4fr 2.6fr 2rem;
		gap: 0px 0px;
		#moveable {
			width: 60%;
			grid-row: 1;
			grid-column: 2;
			display: flex;
			justify-self: center;
			align-self: center;
			#local-video {
				width: 100%;
				margin-top: 1rem;
				height: auto;
				border-radius: 10px;
				-webkit-transform: scaleX(-1);
				transform: scaleX(-1);
				background: #fdfeff;
			}
		}
		#remote-video-text {
			/* width: 15rem; */
			color: black;
			font-size: 1.2rem;
			font-weight: bold;
			text-align: center;
			grid-column: 3/4;
			grid-row: 2;
			display: flex;
			justify-self: center;
			align-self: center;
		}
		#remoteContainer {
			width: 85%;
			height: 95%;
			grid-row: 1/4;
			margin-top: 1.5%;
			margin-bottom: 2.5%;
			margin-left: auto;
			margin-right: auto;
			grid-column: 3/4;
			border-radius: 10px;

			#remote-video {
				width: 100%;
				height: 100%;
			}
		}
	}
	.buttonsAll {
		grid-row: 2;
		grid-column: 2;
		border-radius: 15px;
		background: #fefefe;
		box-shadow: 9px 9px 16px #fff, -9px -9px 16px #eeee;
		height: 5rem;
		display: flex;
		justify-self: center;
		align-self: end;
		justify-content: space-around;
		align-items: center;
		width: 80%;
		.buttonContainer {
			position: relative;
			margin: 0 auto;
			padding: .25rem;
		}
		button {
			background-color: #ffffff;
			color: #23242a;
			box-shadow: none;
			border: none;
			border-radius: 15px;
			font-size: 2rem;
		}
		button:hover {
			color: $azul;
		}
		button .selectedBtn {
			background-color: $rosa;
			color: #ffffff;
		}
	}

	.HoverState {
		color: white;
		font-size: 0.8rem;
		position: absolute;
		left: 60px;
		white-space: nowrap;
		top: 0px;
		z-index: 50000;
		font-weight: bold;
		background: #16171a;
		padding: 10px;
		border-radius: 10px;
	}
}

#anotacoes {
	width: 28%;
	height: 85%;
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	padding-bottom: 20px;
	#testerArea {
		height: 80%;
		.todasAnotacoesHead {
			display: flex;
			height: 12%;
			align-items: center;
			padding-left: 2rem;
			padding-right: 2rem;
			background-color: #3b1ae3;
			color: #fff;
			justify-content: center;

			img {
				max-width: 20px;
				margin-right: 20px;
			}
			h2 {
				text-align: center;
				margin: 0;
				font-size: 20px;
			}
		}
		ul {
			padding: 1rem;
			li {
				margin-bottom: 1rem;
			}
		}
	}
	#todasAnotacoes {
		height: 80%;
		.todasAnotacoesHead {
			display: flex;
			height: 12%;
			align-items: center;
			padding-left: 2rem;
			padding-right: 2rem;
			background-color: #3b1ae3;
			color: #fff;
			justify-content: center;

			img {
				max-width: 20px;
				margin-right: 20px;
			}
			h2 {
				text-align: center;
				margin: 0;
				font-size: 20px;
			}
		}

		#wrapper {
			overflow: auto;
			height: 85%;
			ul {
				list-style: none;
				padding: 1rem 2.5rem !important;

				li {
					margin-bottom: 1rem;
					width: 100%;
					display: flex;
					flex-direction: column;
					opacity: 0;
					transition: opacity .1s ease-in;
					div:first-child {
						font-size: 1rem;
						padding: 0 .7rem .6rem .2rem;
						font-weight: 700;
					}
					div:last-child {
						background-color: #fff;
						font-size: 1.6rem;
						padding: 1rem;
						border-radius: 10px;
						word-wrap: break-word;
					}
				}

				li.animacaoAnotacao {
					opacity: 1;
				}
			}
		}
	}
	form {
		height: 20%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		input[type='text'] {
			width: 90%;
			height: 3rem;
			padding: 1rem;
			border: none;
			box-shadow: 0px 2px 4px 2px rgba(77, 91, 183, 0.2);
			border-radius: 10px;
		}
		input[type='submit'] {
			display: flex;
			color: #fff;
			align-items: center;
			text-align: center;
			justify-content: center;
			width: 85%;
			height: 4rem;
			background-color: #3b1ae3;
			border-radius: 5.1rem;
			border: none;
			font-weight: 700;
			font-size: 1.4rem;
			box-shadow: none;
			cursor: pointer;
		}
	}
}

.cssanimation {
	animation-duration: 1s;
	animation-fill-mode: both;
}

.fadeInBottom {
	animation-name: fadeInBottom;
}
@keyframes fadeInBottom {
	from {
		opacity: 0;
		transform: translateY(200%);
	}
	to {
		opacity: 1;
	}
}

/*End text chat*/

/* Begin mobile layout */

@media (max-width: 640px) {
	/* @media (min-width: 320px) and (max-width: 480px) { */

	#remote-video {
		/* width: 75vw;
          height: calc((16/9) * 75vw); */
		width: 100%;
		height: 100%;
		/* border: 3px solid red; */
	}

	#moveable {
		position: fixed;
		top: 5rem;
		left: 5rem;
		min-width: 20%;
		min-height: 10%;
		width: initial;
		height: initial;
		max-width: 25%;
	}

	#moveable #local-video {
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}

	#moveable p {
		text-align: center;
		z-index: 101;
		position: absolute;
		color: white;
		font-family: "Heebo", sans-serif;
		white-space: pre-wrap;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		font-weight: bold;
		font-size: 1rem;
		background: rgba(0, 0, 0, 0.12);
		padding: 10px;
		border-radius: 5px;
		margin: 0;
	}

	#remote-video-text {
		position: fixed;
		top: 60% !important;
		bottom: initial;
		left: initial;
		width: 80%;
		height: auto;
		margin: 0;
		margin-left: 10%;
		text-align: center;
	}

	.multi-button {
		position: fixed;
		left: 0;
		top: initial;
		bottom: 0;
		width: 80vw;
		height: 3rem;
		margin: 0 10vw;
		-ms-transform: translate(0%, 0%);
		transform: translate(0%, 0%);
		z-index: 999;
		box-shadow: none;
		border-radius: 10px;
		padding: 0;
		/* display: flex; */
		flex-direction: row;
		/* overflow: hidden; */
	}

	.buttonContainer {
		position: relative;
		height: 100%;
		font-size: 3rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		min-width: 0;
		width: 100%;
		margin: 0;
		/* line-height: 1.5rem; */
	}

	.multi-button button {
		position: relative;
		width: 100%;
		border: none;
		font-size: 2rem;
		transition: all 0.3s ease-in-out;
		color: gray;
		background: transparent;
		cursor: pointer;
		padding: 7px;
		border-radius: 5px;
	}

	.HoverState {
		display: none !important;
	}

	.buttonContainer:nth-child(3),
	.buttonContainer:nth-child(5) {
		display: none;
	}

	#entire-chat {
		position: absolute;
		top: 3rem;
		right: 0;
		height: calc(100% - 3rem - 3rem);
		width: 100vw;
		/* padding: 1rem 0; */
		padding: 0;
		/* border: 3px solid green; */
		text-align: center;
		/* background: #16171a; */
	}

	/*Hide video controls on mobile*/
	/*todo: still buggy on iOS, play/pause button pops up on load for iOS,
         goes away after you press pause then play again*/
	video ::-webkit-media-controls-panel {
		display: none !important;
		-webkit-appearance: none;
	}

	video ::--webkit-media-controls-play-button {
		display: none !important;
		-webkit-appearance: none;
	}

	video ::-webkit-media-controls-start-playback-button {
		display: none !important;
		-webkit-appearance: none;
	}

	/* End mobile layout */
}
